$featured: #e9f4f2 !important;
$featured-dark: #13cf9a !important;

:root {
  --background-image-deafult: linear-gradient(
    290deg,
    #c0f2e4,
    #c5f2e6 14%,
    #cdf4ea 24%,
    #d1f5eb 31%,
    #d9f7ef 37%,
    #def8f0 43%,
    #e6f9f5 50%,
    #eafbf7 57%,
    #f3fcf9 65%,
    #fbfefd 77%,
    #fff
  );
  --background-gradient: linear-gradient(
    90deg,
    #068373,
    #068373 0,
    #13cf9a
  ) !important;
  --background-gray: #f2f3f8;
  --dark: #000000 !important;
  --dark-low: #666 !important;
  --dark-medium: #444 !important;
  --darker: #222 !important;
  --featured: #068373 !important;
  --featured-dark: #065247 !important;
  --featured-light: #13cf9a !important;
  --green-light: rgba(6, 131, 115, 0.09) !important;
  --light: #fff !important;
  --light-low: #999 !important;
  --light-medium: #ddd !important;
  --ligther: #ccc !important;
  --primary: #068373 !important;
  --red-background: #fae4e4 !important;
  --red-light: #e87979 !important;
  --stroke-heavy-contrast: #2fb490 !important;
  --text-invert: #fff !important;
  --text-primary: #1e293b !important;
  --yellow-light: #f2c335 !important;
}
