@import url("https://fonts.googleapis.com/css?family=Poppins");
@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
:root {
  --background-image-deafult: linear-gradient(
    290deg,
    #c0f2e4,
    #c5f2e6 14%,
    #cdf4ea 24%,
    #d1f5eb 31%,
    #d9f7ef 37%,
    #def8f0 43%,
    #e6f9f5 50%,
    #eafbf7 57%,
    #f3fcf9 65%,
    #fbfefd 77%,
    #fff
  );
  --background-gradient: linear-gradient(
    90deg,
    #068373,
    #068373 0,
    #13cf9a
  ) !important;
  --background-gray: #f2f3f8;
  --dark: #000000 !important;
  --dark-low: #666 !important;
  --dark-medium: #444 !important;
  --darker: #222 !important;
  --featured: #068373 !important;
  --featured-dark: #065247 !important;
  --featured-light: #13cf9a !important;
  --green-light: rgba(6, 131, 115, 0.09) !important;
  --light: #fff !important;
  --light-low: #999 !important;
  --light-medium: #ddd !important;
  --ligther: #ccc !important;
  --primary: #068373 !important;
  --red-background: #fae4e4 !important;
  --red-light: #e87979 !important;
  --stroke-heavy-contrast: #2fb490 !important;
  --text-invert: #fff !important;
  --text-primary: #1e293b !important;
  --yellow-light: #f2c335 !important;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  background-color: var(--background-gray) !important;
  overflow: auto !important;
}

.h2-hub {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.h3-hub {
  font-family: Poppins;
  font-size: 1.25rem !important;
  line-height: 1.5rem !important;
  font-weight: 600 !important;
}

.h4-hub {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-weight: 600;
}

.btn-custom {
  background-color: black;
  color: var(--text-invert);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 0.5rem;
  height: 2.25rem;
  padding: 8px 14px !important;
  border-radius: 0.5rem;
  border: none;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  cursor: pointer;
}
.btn-custom:hover {
  background-color: var(--dark-medium);
}
.btn-custom:disabled {
  background-color: var(--light-medium);
}

.btn-custom-secondary {
  background-color: #f1f5f9;
  border: 1px solid #94a3b8;
  color: #1e293b;
  border-radius: 0.5rem;
}
.btn-custom-secondary:hover {
  background-color: #cbd5e1;
}

.big {
  height: 3rem !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  padding: 0.75rem 1.5rem !important;
}

/* component style */
.vue-slider-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* rail style */
.vue-slider-rail {
  background-color: #e9e9e9 !important;
  height: 16px !important;
  border: 3px solid #e9e9e9 !important;
}

/* process style */
.vue-slider-process {
  background-color: #13cf9a !important;
  border-radius: 15px;
}

/* mark style */
.vue-slider-mark {
  z-index: 4;
}

.vue-slider-mark:first-child .vue-slider-mark-step,
.vue-slider-mark:last-child .vue-slider-mark-step {
  display: none;
}

.vue-slider-mark-step {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.16);
}

.vue-slider-mark-label {
  font-size: 14px;
  white-space: nowrap;
}

/* dot style */
.vue-slider-dot-handle {
  background-color: var(--featured-light) !important;
  border: 5px solid #fff !important;
  height: 28px !important;
  width: 28px !important;
}

.vue-slider-dot-handle-focus {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4) !important;
}

.vue-slider-dot-handle-disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

/*# sourceMappingURL=app.css.map */