@import url("https://fonts.googleapis.com/css?family=Poppins");
@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "variables";

* {
  font-family: "Poppins", sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  letter-spacing: -0.14px;
}

body {
  zoom: 86% !important;
  background-color: var(--background-gray) !important;
  cursor: pointer !important;
  overflow: auto !important;
}

.h4-hub {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.h2-hub {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
