@import url("https://fonts.googleapis.com/css?family=Poppins");
@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "variables";

* {
  font-family: "Poppins", sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  letter-spacing: -0.14px;
}

body {
  zoom: 80% !important;
  background-color: var(--background-gray) !important;
  // cursor: pointer !important;
  overflow: auto !important;
}

.h4-hub {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-weight: 600;
}
.h2-hub {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.btn-custom{
  background-color: black !important;
  color: var(--text-invert);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 0.5rem;
  height: 2.25rem;
  padding: 8px 14px !important;
  border-radius: 0.5rem;
  border: none;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: var(--dark-medium) !important;
  }
}

